
:root{
    --primary-color:#0B2D32;
    --second-color:#EBEBEB;
    --third-color:#35BCD4;
    --fourth-color:#2a97aa;
}    
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "League Spartan", sans-serif;
}

.logo img{ 
    order: 1;
    width: 8em;
    height: auto;
    padding-top:10px;
    margin-left: 10px;
}
nav { 
    max-width: 700px;
    margin:1rem auto;
}
#menu {
    display:block;
    font-size:2rem;
    background-color: white;
    position:absolute;
    top:3rem;
    right:1rem;
    color: var(--fourth-color);
    text-decoration: none;
}
#menu::before{
    content:"☰";
}
#menu.open::before{
    content:"☓";
}
.navigation{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--third-color); 
    color:white; 
}
.navigation li{
    list-style: none;
}
.navigation a{
    text-decoration: none;
    display: none;
    padding: 10px;
    text-align:center;
    color: var(--second-color);
}
.navigation a:hover {
   background-color:#0c586370;
   border-radius: 6px;
   font-weight: bold;
}
.open a{
    display: block;
}
.hero-section{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    gap:40px;  
}
.hero-section img{
    width: 400px;
    height: auto;
}
div.hero-text{
    width:70%;
    position: absolute;
    background-color:#0c586370;
    padding:10px;
    border-radius:6px;
    margin: 70px 70px 0 0;
   
}
.hero-text{  
    color:var(--primary-color);
    
}

.hero-text h1 {
    text-shadow:2px 2px #0c5763db; 
    font-size: 20px;
    text-align: left;
}
a.button {
    width:fit-content;
    padding:10px;
    color:white;
    text-decoration: none;
    background-color: #35BCD4;
    box-shadow: 0 0 20px #126e96e0;
    border-radius: 6px;
}
a.button:hover{
    color:var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}
.container{
    display: grid;
    place-items: center;
    padding-block:5rem;
    background-color:var(--second-color)
}
.container h2{
    margin-top: 0;
}
.card-container{
    display: grid;
    row-gap: 3.5rem;
}
.card-article{
    position: relative;
    overflow: hidden;
}
.card-img{
    width: 328px;
    height:auto;
    background-color: white;
    border-radius: 15px;
}
.card-data{
    width: 200px;
    background-color: var(--primary-color);
    padding: 15px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 15px;
    position: absolute;
    bottom:-9rem;
    left:0;
    right:0;
    margin-inline:auto;
    opacity: 0;
    transition:opacity 1s 1s;
}
.card-description{
    display: block;
    margin-bottom: .25rem;
    font-size: 16px;
    color: white;
}
.card-title{
    font-size: 28px;
    color:white;   
}
.card-button{
    text-decoration: none;
    color:var(--third-color);
    font-size: 20px;
}
.card-button:hover{
    border: 1px solid var(--third-color);
    padding:8px;
    border-radius: 6px;
    
}
.card-article:hover .card-data{
    animation:show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card-article:hover{
    animation: remove-overflow 2s forwards;
}
.card-article:not(hover){
    animation:show-overflow 2s forwards;
}
.card-article:not(hover) .card-data{
    animation:remove-data 1s forwards;
}
@keyframes show-data{
    50%{
        transform:translateY(-10rem);
    }
    100%{
        transform:translateY(-7rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow:initial;
    }
}
@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow{
    0%{
        overflow:visible;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
div.container-1{
    background-color:#0b2d32bc;
    background-image: url("../images/background-small.webp");
    background-size: cover;
    background-blend-mode: multiply;
    padding:10px 10px 30px 20px;
    color: white;
}

.container-1 h2{
    text-shadow:2px 2px #0c5763a9; 
}
footer{
    width:100%;
    bottom: 0;
    background-color: var(--primary-color);
    color:white;
}
.row{
    width:85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis:25%;
    padding: 10px;
}
.logo-footer{
    width: 8em;
    margin-bottom: 30px;
}
div.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.social-icons .fa-brands{
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    margin-right: 15px;
    cursor:pointer;
    color:white;
}
.social-icons .fa-brands:visited{
    color:white;
}
.social-icons .fa-brands:hover{
    color: var(--third-color);
}
hr{
    width: 90%;
    border:0;
    border-bottom: 1px solid white;
    margin: 10px auto;
}
.copyright{
    text-align: center;
    padding-bottom: 20px;
}
h2.weather-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top:40px;

}
div.weather-card{
   display:flex;
   flex-direction: column;
   margin:20px;
   background: linear-gradient(135deg,#35BCD4,#2674827a);
   border-radius: 15px;
}
div.weather-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding: 40px;
}
div.weather-data > p{
    font-size: 25px;
    margin: 0;
    text-align: center;
}
.weather-data img:not(.wicon){
    width: 8rem;   
}
.wicon{
    width:30px;
    margin-right:10px;
    margin-left: 25px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
.humidity{
    margin:0;
    text-align: left;
}
.wind{
    margin:0;
    text-align: left;
}
.reserve-grid{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.reserve-info{
    padding:20px;
}
.reserve-info ul{
    margin-left:-15px;
}
.reserve-form{
    display: grid;
    grid-template-columns: 300px;
    margin-left: 10px;
    padding: 20px;    
}
.rform fieldset{
    margin:2rem 0;
    border:1px solid var(--third-color);
    border-radius: 6px;
    padding:.5rem 2%;
  
}
.rform legend{
    color: var(--fourth-color);
    padding: 0 .5rem;
    font-size: 18px;
}
.rform label{
    display: block;
    padding: 10.5px;
    color: var(--primary-color);
}
.rform input[type="text"],
.rform input[type="email"],
.rform input[type="tel"]
{
    display: block;
    border: 1px solid rgb(241, 242, 242);
    background-color: rgb(241, 242, 242);
    color:rgb(62, 69, 77);
    border-radius: 6px;
    padding: .75rem;
    width:14rem;
}
.rform input[type="radio"]
{
    margin-right: 6px;
}
.rform input[type="date"],
.rform select
{
    margin-left: 15px;
    padding:.75rem;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color:white;
}
.rform div{
    padding-top:15px;
    margin-left:15px;
}
.line-form{
    width: 90%;
    border:0;
    border-bottom: 1px solid var(--third-color);
    padding:8px;
}
#description{
    height: 70px;
}
.rform input[type="submit"]{
    width:96%;
    margin: -1rem 2% 2rem 2%;
    padding:10px;
    color:white;
    background-color: #35BCD4;
    border: 1px solid var(--third-color);
    box-shadow: 0 0 10px #126e96;
    border-radius: 6px;   
}
a.inline-link{
    color: var(--fourth-color);
}
.gesture img{
    margin-bottom: 20px;
    width: 12rem;
    height: auto;
}
div.thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 40px;
}
section.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:20px;
    padding-bottom: 40px;  
    background-color: var(--second-color);
}
table{
    width:15%;
    border-collapse: collapse;
    margin: 20px;
    padding: 5px 10px;
}
thead{
    background-color: var(--primary-color);
    color:white;   
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid var(--second-color);
  }
  #vehicle-details tr:nth-child(even){
    background-color: #35bcd44b;
  }
  #vehicle-details tr:hover{
    background-color: #2a97aa;
  }
  .container-info{
   display: flex;
   flex-direction: column;
   margin: 30px;
  }
 
  

