@media screen and (min-width:992px){
    header{
        display: flex;
    }
    a#menu{
        display: none;
    }
    nav ul.navigation{
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
       
    }
    .navigation a{
        display: flex;
        color:var(--primary-color);
        padding:  8px 10px 8px 10px;
        width:75%;
        text-decoration: none;
        color:var(--fourth-color);
    }
    .navigation li a:hover{
        font-weight:bold;
        color:white;
        background-color: var(--third-color);
        border-radius: 6px;
    }
    .hero-section img{
        width: 1450px;
        height: 690px;
    }
    div .hero-text{
       display: flex;
       flex-direction: column;
    }
    .hero-text{  
        color: white;
    }
    .hero-text p {
        /* padding: 20px 0 20px; */
        font-size: 20px;
        font-weight: 500;
    } 
}