@media screen and (min-width:1300px){
    .active{
        border:1px solid var(--third-color);  
        border-radius: 6px;  
     }
    header{
        display: flex;
    }
    a#menu{
        display: none;
    }
    nav ul.navigation{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: white;
       
    }
    .navigation a{
        font-size: 20px;
        display: flex;
        margin:5px;
        text-decoration: none;
        color:var(--fourth-color);
    }
    .navigation a:hover{
        font-weight:bold;
        color:white;
        background-color: var(--third-color);
        border-radius: 6px;
        
    }
    .hero-section img{
        width: 1450px;
        height: 690px;
    }
    div.hero-text{
       display: flex;
       flex-direction: column;
       background-color:#0c576300;  
       height: 20px; 
    }
    a.button{
        font-size: 20px;
    }
    .hero-text{  
        color: white;
    }
    .hero-text h1{
        font-size: 70px;
    }
    .hero-text p {
        background-color:#0c576300; 
        padding: 20px 0 20px;
        font-size: 30px;
        font-weight: 500;
    } 
    .container h2{
        font-size: 36px;
       
    }
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img{
        width: 348px;
    }
    .card-data{
        width: 200px;
        padding-inline: 2.5rem;
    }
    div.container-1{
        background-image: url("../images/background.webp");
        /* background-size: cover; */
        padding-top: 200px;
    padding-bottom: 200px;
    }
    .container-1 h2{
        font-size: 36px;
        margin-top: 0;
        margin-left: 11rem;
        text-align: left;
    }
  .desc-vehicles{
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 25px;
    }
  .weather{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
  }
  h2.weather-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
  }
  .weather-card{
    width:30%;
  } 
  .reserve-grid{
    display: grid;
    grid-template-columns: 550px 800px;
    grid-gap:70px;
}
.reserve-info{
    font-size: 20px;
    margin-left:20px;
}

.rform fieldset{
    width: 600px;
}
div.timing, div.small{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 0;
    margin:0;
  }
 .rform #vehicle{
    width: 15rem;
}
div.space{
    padding: 0;
    margin-left:40px;
}
.space #description{
    width:86%;
}
.rform input[type="submit"]{
    width:40%;
}
section.contact-info{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    font-size:18px;
}

}