@media screen and (min-width:668px){
    header{
        display: flex;
        align-items: stretch;
    }
    a#menu{
        display: none;
    }
    nav{
        max-width: 10em;
    }
    nav ul.navigation{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: white;
    }
    .navigation a{
        display: flex;
        color:var(--primary-color);
        padding: 8px 10px 8px 10px;
        width:75%;
        text-decoration: none;
        color:var(--fourth-color);
    }
    .navigation a:hover, .navigation a:active{
        font-weight:bold;
        color: white;
        background-color: var(--third-color);
        border-radius: 6px;  
    }
    .hero-section img{
        width: 1150px;
        height: auto;
    }
    div.hero-text{
    display: flex;
    flex-direction: column; 
    background-color:#0c57635c; 
    height:20px;   

    }
    a.button{
        font-size: 20px;
    }
    .hero-text{  
       color: white;
    }
    .hero-text h1{
        font-size:36px;
        margin:0;
    }
    .hero-text p {
        background-color:#0c576381; 
        margin:10px 10px 10px 0;
        font-size: 25px;
        font-weight: 500;
    }
    .container h2{
        font-size: 30px;

    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}