@media screen and (min-width:992px){
    header{
        display: flex;
    }
    a#menu{
        display: none;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    .navigation a{
        display: flex;
        color:var(--primary-color);
        padding: 3em;
    }
    .navigation li a:hover, .navigation li a:active{
        font-weight:bold;
        background-color: white;
        border-bottom: 3px solid var(--second-color);
        padding-bottom: 5px;
    }
    .hero-section img{
        width: 1420px;
        height: 500px;
    }
    .more{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        height: 15em;
    } 
    .mission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
   footer p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   }
}

/* discovery page styling */
.grid-area{
    display: grid;
    grid-template-columns: 400px 1fr;
}
.sidebar{
    background-color:white;
}
.details{
    box-shadow: 0 0 20px rgb(212, 205, 203);
    border-radius: 5px;
    margin:30px;
    padding:20px;
}
.main{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 50px;
    padding:20px; 
}
.main img{
    width: 100%;
    background: #c9dae1;;
    animation: fade 3s;
}
@keyframes fade {  
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
