@media screen and (min-width:668px){
    header{
        display: flex;
    }
    a#menu{
        display: none;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    .navigation a{
        display: flex;
        color:var(--primary-color);
        padding: 3em;
    }
    .navigation a:hover, .navigation a:active{
        font-weight:bold;
        background-color: white;
        border-bottom: 3px solid var(--second-color);
        padding-bottom: 5px;
    }
    .hero-section img{
        width: 1000px;
        height: 500px;
    }
    div .hero-text{
        background-color: rgba(255, 255, 255, 0.574);
        position: absolute;
        margin:10px;
        border-radius: 5px;
        
    }
    .hero-text{  
        padding:30px;
    }
    .hero-text p {
        padding: 20px 0 20px;
        font-size: 20px;
        font-weight: 500;
    }
    .more{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        height: 15em;
    } 
    .mission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mission img{
        width: 500px;
        height: 333px;
    }
    footer p{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left:40px;
       }
   
}

/* discovery page styling */
.grid-area{
    display: grid;
    grid-template-columns: 400px 1fr;
}
.sidebar{
    background-color:white;
}
.details{
    box-shadow: 0 0 20px rgb(212, 205, 203);
    border-radius: 5px;
    margin:30px;
    padding:20px;
}
.main{
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 50px;
    padding:20px; 
}
.main img{
    width: 100%;
    background: #c9dae1;;
    animation: fade 3s;
}
@keyframes fade {  
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

