html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: black;

}
header {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(52, 52, 92);
    padding:30px; 
}

h1{
    color:white;
}
img {
    width: 200px;
    height: auto;
    padding: 20px;
}
#hambuger-menu {
    position: absolute;
    top:0.25em;
    right: 0.25em;
    text-align: center;
    width: 40px;
    height: auto;
    margin:auto;
    background-color: white;
    box-shadow: 0 0 20px rgb(187, 180, 177);
}
#hamburger-menu ::before{
    font-size: 2rem;
    content: "☰";
}
#hamburger-menu .open ::before{
    font-size: 1.5rem;
    content: "X";
}
.nav-links{
    display:flex;
    direction: column;
    list-style: none;
    background-color:blue;
    margin: 0;
    padding:0;
}
.nav-links li{
    display: none;
}
.nav-links li a{
    display: block;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: aqua;
}
.nav-links li a:hover{
    background-color: rgb(53, 53, 114);
    color:rgb(187, 175, 232);
}
.open li{
    display: block;
    width: 100%;
}
.open li a{
    display: block;
}
.nav-links .active{
    color:yellow;
}

main {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding: 20px;
    background-color: white;    
}
.title{
    color:rgb(52, 52, 92);
    text-align: center;
    border-bottom:solid 1px;
    border-color: rgb(52, 52, 92);
    /*padding: 10px; 
    margin:20px;*/
}

.card{
    background-color:rgba(187, 175, 232, 0.231);
    margin: 20px 90px;
    padding:20px;  
    }
    /*display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap:1rem;
    
    
}
.card h3, li, p{
    display: grid;
    justify-self: center;
    list-style: none;*/
    

footer{
   
    background-color: rgb(52, 52, 92);
    position: relative;
    padding: 0.75em;
    border-radius: 5px;
   text-align: center;    
}
footer p, #year{
    color: white;
}



