@media screen and (min-width: 780px) {
  .navigation{
    display: flex;
  }
  .navigation li{
    display: block;
    flex: 1 1 100%;
  }
  .navigation a{
    text-align: center;
  }
  #menu{
    display: none;
  }
  
    .title{
        font-size: 1.75em;
    }
    .title:hover {
      background-color: red;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* .container section:nth-child(1){
        grid-column: span 2;
    } */
    footer .info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
/* .map {
  margin-left: 25%;
} */
.map iframe{
  width:100%;

}
    
}
  