@media screen and (min-width: 780px) {
  a#menu{
    display: none;
  }
 ul .navigation a {
    display: flex;
    flex-direction: row;
  }
  /* .navigation li{
    display: block;
    flex: 1 1 100%;
  } */
  /* .navigation a{
    text-align: center;
  } */
  
    .title{
        font-size: 1.75em;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* .container section:nth-child(1){
        grid-column: span 2;
    } */
    footer .info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
.map iframe{
  width:100%;
}
    
}
  