@media screen and (min-width: 760px) {
    #hamburger-menu{
        display: none;
    }
    .nav-links{
        flex-direction: row;
    }
    .nav-links li{
        display: block;
        flex: 1 1 100%;
    }
    .title{
        font-size: 1.75em;
    }
    .card-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-content section:nth-child(1){
        grid-column: span 2;
    }
    .map{
        grid-column: span 3;
    }
    footer .info{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
  